.red-arrows
%section#about
    %ul.nav.nav-tabs
        %li.active
            %a{href: "#tab-aboutMe", "data-toggle" => "tab"} About me
        %li
            %a{href: "#tab-experience", "data-toggle" => "tab"} Work experience
        %li
            %a{href: "#tab-aboutSite", "data-toggle" => "tab"} About this site

    .tab-content
        #tab-aboutMe.tab-pane.active
            = image_tag("israel-dead-sea.jpg", width: "200", height: "250")
            .text
                :markdown
                    ## <span>About Me</span>
                    My passion for design and typography has followed me all my life, back to when careful consideration of licensed cartoon pocket folders would provide classroom drawing inspiration for the entire school year.

                    Though having some formal training in C++ programming, I became generally interested in the web and grew intrigued by how people explore the same content in different ways. Once I began to understand HTML, I found the niche where I belonged and developed a passion for bringing mockups to life with frontend markup and CSS.

                    I brew beer and have built a kegerator of sorts to dispense the hobby. I also like <a href="/cars">working on cars</a> and enjoying life with <a href="http://shitmywifedoes.com/" target="_blank">my wife, Katie</a> <sup><i class="fa fa-external-link"></i></sup>.

                #skills
                    = skill "Photoshop", "92", "Preferred for web mockups and image manipulation. Used for over 10 years and am extremely comfortable with it."
                    = skill "Illustrator", "55", "Plenty of experience for print projects and vector-based web assets, though not used daily."
                    = skill "CSS3 (less, scss)", "92", "Proficient and aware of best practices and browser nuances, including proper use of extends, mixins, and variables."
                    = skill "HTML5 (haml, slim, jade)", "95", "Proficient and comfortable."
                    = skill "SEO", "80", "Good understanding of SEO, including per-page optimization and best practices."
                    = skill "*nix", "35", "I setup a CentOS box at home and am generally comfortable with the command line, including vim, git, and bash scripting."
                    = skill "Git", "45", "Comfortable with pulling and committing. Not a pro at merging feature branches and repo cleaning."
                    = skill "Articulate", "75", "Strong writing and documentation skills. I have produced project scopes and proposals for several years."
        #tab-experience.tab-pane
            .text
                :markdown
                    ## <span>Immense Networks</span> (2008&ndash;Present)
                    Being the first web employee at a startup IT company, I gravitated towards WordPress to give small businesses an affordable CMS solution. I learned ways to let clients manage more complex layouts with custom plugins, documentation, and ongoing consulting, ultimately trying to reduce their learning curve and eliminate as much human error as possible.

                    As experienced developers joined the team, we became equipped to build more powerful applications. I was exposed to frontend components of Symfony, Django, Ruby on Rails, and Node including Haml, Slim, Jade, Less, and SCSS. We began version control with Git and leveraged package managers and task runners, and I have grown comfortable with these tools.

                    I wear several hats at Immense Networks, including UI/UX design, frontend developer, project manager, creative director, account executive, and client consultant. I generally orchestrate projects from the initial consultation, to deployment, to ongoing feature releases and maintenance.

                    ## <span>Gatorworks</span> (2007&ndash;2008)
                    The transition from print ads to interactive user interfaces was difficult for me, but I learned a lot from my experience at Gatorworks. Working with talented individuals like David Link and Jason Evers encouraged me to learn new things and hone my skillset.

                    ## <span>LSU Reveille / Tigerweekly</span> (2005&ndash;2007)
                    Though different organizations, my responsibilities were similar, including magazine layouts and newspaper ad designs for local businesses. I was tasked with actual deadlines for clients with real dollars invested, making this a tedious yet beneficial learning experience for me.
        #tab-aboutSite.tab-pane
            .text
                :markdown
                    This website was an exploration for me. I built it with Middleman, a Ruby-based static site generator, and I learned some things in the process. Notably, it introduced me to Ruby helpers, asset management, and file optimization.

                    I knew the site would be image-heavy, and only I would maintain it, so a static site made sense for its simplicity and speed. I have a manageable codebase in a private repository that leverages helpful development tools like Sass, Haml (which I'll soon convert to Slim), and Bootstrap.