.red-arrows
%section#about
    %ul.nav.nav-tabs
        %li.active
            %a{:href => "#tab-about", "data-toggle" => "tab"} About Me
        %li
            %a{:href => "#tab-experience", "data-toggle" => "tab"} Work Experience
        %li
            %a{:href => "#tab-interests", "data-toggle" => "tab"} Interests

    .tab-content
        #tab-about.tab-pane.active
            = image_tag "israel-dead-sea.jpg", :class => "alignleft"
            .text
                :markdown
                    ## About Me
                    My passion for design and typography has followed me all my life, back to when careful consideration of licensed cartoon pocket folders would provide classroom drawing inspiration for the entire school year.

                    Though having some formal training in programming, I became generally interested in the web and grew intrigued by how people explore the same content in different ways. Once I began to understand HTML, I found the niche where I belonged and developed a passion for bringing mockups to life with frontend markup and CSS.

                #skills
                    = skill "Photoshop", "92", "Preferred for web mockups and image manipulation. I have used it for over 10 years and am extremely comfortable with it."
                    = skill "Illustrator", "55", "Plenty of experience for print projects and vector-based web assets, though not used daily."
                    = skill "CSS3 (less, sass)", "92", "Proficient and aware of best practices and browser nuances, including proper use of extends, mixins, and variables."
                    = skill "HTML5 (jade, haml)", "95", "Proficient and comfortable."
                    = skill "SEO", "80", "Good understanding of SEO,  including per page optimization and best practices."
                    = skill "*nix", "35", "I setup a CentOS box at home and am generally comfortable with the command line, including mysql, vim, and bash scripting."
                    = skill "Git", "45", "Comfortable with pulling and committing. Not a pro at merging feature branches and repo cleaning."
        #tab-experience.tab-pane
            .text
                :markdown
                    ## <span>Immense Networks</span> (2008&ndash;Present)
                    Being the first web employee at a startup IT company, I gravitated towards WordPress to give small businesses an affordable CMS solution. I learned ways to let clients manage more complex layouts with custom plugins, documentation, and ongoing consulting, ultimately trying to reduce their learning curve and eliminate as much human error as possible.

                    As experienced developers joined the team, we became equipped to build more powerful applications. I became exposed to frontend components of Symfony, Django, Rails, and Node including Haml, Jade, Less, and Sass. We began version control with Git and leveraged package managers and task runners, and I have grown comfortable with these tools.

                    I wear several hats at Immense Networks, including UI/UX design, frontend developer, project manager, creative director, account executive, and client consultant. I generally orchestrate projects from the initial consultation, to deployment, to ongoing feature releases and maintenance.

                    ## <span>Gatorworks</span> (2007&ndash;2008)
                    The transition from print ads to interactive user interfaces was difficult for me, but I learned a lot from my experience at Gatorworks. Working with talented individuals like David Link and Jason Evers encouraged me to learn new things and hone my skillset.

                    ## <span>LSU Reveille / Tigerweekly</span> (2005&ndash;2007)
                    Though different organizations, my responsibilities were similar, including magazines layouts and newspaper ad designs for local businesses. I was tasked with actual deadlines for clients with real dollars invested, making this a tedious yet beneficial learning experience for me.
        #tab-interests.tab-pane
            .text
                :markdown
                    I enjoy brewing beer, and I have built a kegerator of sorts to dispense the hobby. I also enjoy -----, and <a href="http://shitmywifedoes.com/" target="_blank">my wife, Katie</a>.

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
