<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="<%= current_page.data.meta_description %>">
    <meta name="viewport" content="width=device-width">

    <title><%= current_page.data.title || "Hello Jason" %> | Hello Jason</title>

    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "main" %>
    <script src="js/vendor/modernizr-2.6.1.min.js"></script>
</head>
<!--
 __  __     ______     __         __         ______   
/\ \_\ \   /\  ___\   /\ \       /\ \       /\  __ \  
\ \  __ \  \ \  __\   \ \ \____  \ \ \____  \ \ \/\ \ 
 \ \_\ \_\  \ \_____\  \ \_____\  \ \_____\  \ \_____\
  \/_/\/_/   \/_____/   \/_____/   \/_____/   \/_____/
          __     ______     ______     ______     __   __    
         /\ \   /\  __ \   /\  ___\   /\  __ \   /\ "-.\ \   
        _\_\ \  \ \  __ \  \ \___  \  \ \ \/\ \  \ \ \-.  \  
       /\_____\  \ \_\ \_\  \/\_____\  \ \_____\  \ \_\\"\_\ 
       \/_____/   \/_/\/_/   \/_____/   \/_____/   \/_/ \/_/ 

Hello, you. This website was an exploration for me. I built it with Middleman and learned some things in the process.

-->
<body class="<%= page_classes %> <%= current_page.data.layout || "default" %> <%= current_page.data.section %>" data-spy="scroll" data-target="#primary-navigation">

    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
  <div id="wrap">