%section#portfolio
  %h1 Portfolio
  / = portfolio_piece "Project Name", "permalink", "image_name.jpg"
  = portfolio_piece "Gator Millworks", "gator-millworks", "thumbnail-gatormillworks.jpg"
  = portfolio_piece "Rotolos Pizzeria", "rotolos", "thumbnail-rotolos.jpg"
  = portfolio_piece "pfsync", "pfsync", "thumbnail-pfsync.jpg"
  = portfolio_piece "P&S Surgical Hospital", "ps-surgery", "thumbnail-ps-surgery.jpg"
  = portfolio_piece "ISC Constructors", "isc", "thumbnail-isc.jpg"
  = portfolio_piece "Think Print 3D", "thinkprint3d", "thumbnail-thinkprint3d.jpg"
  = portfolio_piece "Dorignacs Food Center", "dorignacs", "thumbnail-dorignacs.jpg"
  = portfolio_piece "Contact Mover", "contact-mover", "thumbnail-contact-mover.jpg"
  = portfolio_piece "Zorb-IT", "zorbit", "thumbnail-zorbit-packet.jpg"
  = portfolio_piece "Gatortrax/Instagator", "gtrax", "thumbnail-gtrax.jpg"
  = portfolio_piece "Tool Tracker", "tool-tracker", "thumbnail-tool-tracker.jpg"
  = portfolio_piece "NGSTech Conference", "ngstech", "thumbnail-ngs-tech.jpg"
  = portfolio_piece "Immense Networks", "immense-networks", "thumbnail-immense-networks.jpg"
  = portfolio_piece "Mow & Tell", "mow-tell", "thumbnail-mow-tell.jpg"
  = portfolio_piece "The Club at LSU Union Square", "lsu-union-club", "thumbnail-lsu-club.jpg"
  = portfolio_piece "Holy Name of Jesus Parish", "hnj", "thumbnail-hnj-church.jpg"
  = portfolio_piece "Simple Simon Tire", "simple-simon", "thumbnail-simple-simon.jpg"
  = portfolio_piece "ServerExec", "serverexec", "thumbnail-serverexec.jpg"
