%section#portfolio
  %h1 Portfolio
  .row
    .col-sm-4
      = link_to "ps-surgery" do
        = image_tag "http://placehold.it/500x500"
    .col-sm-4
      = link_to "rotolos" do
        = image_tag "http://placehold.it/500x500"
    .col-sm-4
      = link_to "mow-tell" do
        = image_tag "http://placehold.it/500x500"
  .row
    .col-sm-4
      = link_to "ps-surgery" do
        = image_tag "http://placehold.it/500x500"
    .col-sm-4
      = link_to "rotolos" do
        = image_tag "http://placehold.it/500x500"
    .col-sm-4
      = link_to "mow-tell" do
        = image_tag "http://placehold.it/500x500"
  .row
    .col-sm-4
      = link_to "ps-surgery" do
        = image_tag "http://placehold.it/500x500"
    .col-sm-4
      = link_to "rotolos" do
        = image_tag "http://placehold.it/500x500"
    .col-sm-4
      = link_to "mow-tell" do
        = image_tag "http://placehold.it/500x500"