%section#portfolio
  .container
    %h1 Portfolio
    .row
      .col-sm-3
        = link_to "ps-surgery" do
          = image_tag "thumbnail-col3-pssurgery.jpg"
      .col-sm-6
        = link_to "rotolos" do
          = image_tag "thumbnail-col6-rotolos.jpg"
      .col-sm-3
        = link_to "mow-tell" do
          = image_tag "thumbnail-col3-mowtell.jpg"

    .row
      .col-sm-6
        = link_to "casa-cacla" do
          = image_tag "thumbnail-col6-lacasa.jpg"
      .col-sm-3
        = link_to "isc" do
          = image_tag "thumbnail-col3-isc.jpg"
      .col-sm-3
        = link_to "ngstech" do
          = image_tag "thumbnail-col3-ngstech.jpg"

    .row
      .col-sm-3
        = link_to "tool-tracker" do
          = image_tag "thumbnail-col3-tooltracker.jpg"
      .col-sm-3
        = link_to "ofw" do
          = image_tag "thumbnail-col3-ofw.jpg"
      .col-sm-6
        = link_to "pfsync" do
          = image_tag "thumbnail-col6-pfsync.jpg"

    .row
      .col-sm-6
        = link_to "dorignacs" do
          = image_tag "thumbnail-col6-dorignacs.jpg"
      .col-sm-3
        = link_to "lsu-union-club" do
          = image_tag "thumbnail-col3-lsuclub.jpg"
      .col-sm-3
        = link_to "hnj" do
          = image_tag "thumbnail-col3-hnj.jpg"

    .row
      .col-sm-3
        = link_to "metro" do
          = image_tag "thumbnail-col3-metromini.jpg"
      .col-sm-6
        = link_to "immense-networks" do
          = image_tag "thumbnail-col6-immense.jpg"
      .col-sm-3
        = link_to "contact-mover" do
          = image_tag "thumbnail-col3-contactmover.jpg"

    .row
      .col-sm-6
        = link_to "zorbit" do
          = image_tag "thumbnail-col6-zorbit.jpg"
      .col-sm-6
        = link_to "gtrax" do
          = image_tag "thumbnail-col6-gtrax.jpg"
