%section#portfolio
  %h1 Portfolio
  .piece
    = link_to "#" do
      %span.piece-name Rotolo's Pizzeria
      = image_tag "thumbnail-rotolos.jpg"
  .piece
    = link_to "#" do
      %span.piece-name P&S Surgical Hospital
      = image_tag "thumbnail-ps-surgery.jpg"
  .piece
    = link_to "#" do
      %span.piece-name Gatortrax
      = image_tag "thumbnail-gtrax.jpg"
  .piece
    = link_to "#" do
      %span.piece-name Contact Mover
      = image_tag "thumbnail-contact-mover.jpg"
  .piece
    = link_to "#" do
      %span.piece-name Dorignac's Food Store
      = image_tag "thumbnail-dorignacs.jpg"
  .piece
    = link_to "#" do
      %span.piece-name ISC Constructors
      = image_tag "thumbnail-isc.jpg"
  .piece
    = link_to "#" do
      %span.piece-name Zorb-IT
      = image_tag "thumbnail-zorb-it.jpg"
  .piece
    = link_to "#" do
      %span.piece-name NGSTech Conference
      = image_tag "thumbnail-ngs-tech.jpg"
  .piece
    = link_to "#" do
      %span.piece-name Immense Networks
      = image_tag "thumbnail-immense-networks.jpg"
  .piece
    = link_to "#" do
      %span.piece-name Mow & Tell
      = image_tag "thumbnail-mow-tell.jpg"
  .piece
    = link_to "#" do
      %span.piece-name The Club at LSU Union Square
      = image_tag "thumbnail-lsu-club.jpg"
  .piece
    = link_to "#" do
      %span.piece-name Holy Name of Jesus Church
      = image_tag "thumbnail-hnj-church.jpg"
  .piece
    = link_to "#" do
      %span.piece-name pfsync
      = image_tag "thumbnail-pfsync.jpg"
  .piece
    = link_to "#" do
      %span.piece-name Tool Tracker
      = image_tag "thumbnail-tool-tracker.jpg"