!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html#top.no-js
  / <![endif]
  %head
    %meta{charset: "UTF-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: current_page.data.meta_description, name: "description"}
    %meta{content: "width=device-width", name: "viewport"}
    %meta{content: current_page.data.robots || "index,follow", name: "robots"}
    %title= "Hello Jason | #{current_page.data.title}" || "Hello Jason"
    = stylesheet_link_tag "normalize", "main"
    = javascript_include_tag "vendor/modernizr-2.6.1.min.js"
    %link{href: site_url+current_page.url, rel: "canonical"}

    :markdown
      <!--
         __  __     ______     __         __         ______   
        /\ \_\ \   /\  ___\   /\ \       /\ \       /\  __ \  
        \ \  __ \  \ \  __\   \ \ \____  \ \ \____  \ \ \/\ \ 
         \ \_\ \_\  \ \_____\  \ \_____\  \ \_____\  \ \_____\
          \/_/\/_/   \/_____/   \/_____/   \/_____/   \/_____/
                  __     ______     ______     ______     __   __    
                 /\ \   /\  __ \   /\  ___\   /\  __ \   /\ "-.\ \   
                _\_\ \  \ \  __ \  \ \___  \  \ \ \/\ \  \ \ \-.  \  
               /\_____\  \ \_\ \_\  \/\_____\  \ \_____\  \ \_\\"\_\ 
               \/_____/   \/_/\/_/   \/_____/   \/_____/   \/_/ \/_/ 

      -->

  %body{class: "#{page_classes} #{current_page.data.layout || "default"} #{current_page.data.section}", "data-spy" => "scroll", "data-target" => "#primary-navigation"}
    /[if lte IE 8]
      %p.chromeframe.alert.alert-warning
        You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site better.
    #wrap
      %header{:role => "banner"}
        = _partial "navigation"
        = yield_content :header
      %main{:role => "document"}
        = yield
      - if current_page.data.section == "home"
        = _partial "contact"
      %footer#footer.content-info{role: "content-info"}
        &copy; 2014 Jason Cross
        %a.totop{:href => "#top"}
          %i.fa.fa-chevron-up
          Top
    = javascript_include_tag "vendor/jquery-2.1.0.min.js", "vendor/jquery.onscreen.min.js", "bootstrap.js", "main.js"