= _partial "head"
%header{:role => "banner"}
  = _partial "navigation"
= _partial "breadcrumbs"

/ <% if content_for?(:hero) %>
/ %div#hero
/   <%= yield_content :hero %>
/ <% end %>

%main{:role => "document"}
  = yield
= _partial "foot"
