---
title:              1967 Mustang Coupe
section:            cars
---

%section
  %h1 1967 Mustang Coupe
  = mustang_image "0001"
  = mustang_image "0002"
  = mustang_image "0003"
  = mustang_image "0004"
  = mustang_image "0005"
  = mustang_image "0006"
  = mustang_image "0007"
  = mustang_image "0008"
  = mustang_image "0009"
  = mustang_image "0010"
  = mustang_image "0011"
  = mustang_image "0012"
  = mustang_image "0013"
  = mustang_image "0014"
  = mustang_image "0015"
  = mustang_image "0018"
  = mustang_image "0016"
  = mustang_image "0017"
  = mustang_image "0019"
  = mustang_image "0020"
  = mustang_image "0021"
  = mustang_image "0022"
  = mustang_image "0025"
  = mustang_image "0026"
  = mustang_image "0027"
  = mustang_image "0028"
  = mustang_image "0029"
  = mustang_image "0030"
  = mustang_image "0031"
  = mustang_image "0032"
  = mustang_image "0033"
