---
title:              Office Furniture World
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Office Furniture World
project_year:       2012
project_status:     Deployed
project_url:        http://ofwbr.com
project_tech:       WordPress
designer:           1
frontend:           1
project_manager:    0
---

%div#hero.carousel
  = image_tag "project-hero-ofw-index.jpg"
  <img data-src="img/project-hero-ofw-category.jpg" class="lazyOwl">
  <img data-src="img/project-hero-ofw-single.jpg" class="lazyOwl">

%div#hero-controls
  %a.hero-prev
    %i.fa.fa-arrow-left
  %a.hero-toggle
    Toggle larger view
  %a.hero-next
    %i.fa.fa-arrow-right

%h1= current_page.data.title

%section#project-intro
  .container
    .main
      :markdown
        ## <span>Project Details</span>
        As part of their desire to increase new furniture sales, Office Furniture World needed a website that could provide contact information and catalog their evolving inventory.
        
        This site was built onto WordPress, and we utilized Pods to allow individual furniture and category management. Typical ecommerce websites served as the design inspiration.

      .action-badges
        %p.cta.cta-primary
          %i.fa.fa-picture-o
          Designer
        %p.cta.cta-primary
          %i.fa.fa-cog
          Developer

    %aside.aside
      = project_info

%hr
%section#project-details
  .container
    %h1= details_title
    .example
      = image_tag "thumbnail-col6-ofw-itemno.jpg"
      .text
        %p Item # field of the contact form automatically populates when a user seeks more information from a single item's page.
    .example
      = image_tag "thumbnail-col6-ofw-categories.jpg"
      .text
        %p Furniture listings are grouped by type and brand, providing easier searches for users.
