---
title:              Think Print 3D
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Think Print 3D
project_year:       2014
project_status:     Under Development
project_tech:       Middleman, Slim, SCSS
---

%div#hero
  = image_tag "monitor-front-thinkprint3d.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>

      Think Print 3D provides 3D printing and design services for the medical, aerospace, architecture, and military industries. 

    .action-badges
      %p.cta.cta-primary
        %i.icon-picture
        Designer
      %p.cta.cta-primary
        %i.icon-cog
        Developer
      %p.cta.cta-primary
        %i.icon-group
        Proj Mgr

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    = image_tag "monitor-right-thinkprint3d-comingsoon.jpg"
    .text
      %p A coming soon page was necessary since the store opened during project development.