---
title:              Tool Tracker
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     ISC Constructors
project_year:       2013
project_status:     Deployed
project_tech:       Node, iOS, MobileIron
project_url:        http://tooltracker.com
robots:             noindex,noarchive
designer:           1
frontend:           1
project_manager:    1
---

%div#hero
  = image_tag "monitor-front-tooltracker.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      After investing heavily into Viewpoint software for project management, ISC Constructors discovered a missing feature that did not allow tracking and billing tools between job sites.

      The Tool Tracker project leverages company-owned iPhone 5s devices with Linea Pro cases from Infinite Peripherals with 2D laser barcode scanning capabilities.

      Our web-based Node software allows users to formally request and transfer tools between various job sites and company locations, tracking tool locations and handlers throughout each lifecycle.

      MobileIron was also utilized for iOS device control and ongoing application deployment.

    .action-badges
      %p.cta.cta-primary
        %i.icon-picture
        Designer
      %p.cta.cta-primary
        %i.icon-cog
        Frontend
      %p.cta.cta-primary
        %i.icon-group
        Proj Mgr

  %aside.aside
    = project_info

%section#project-ios
  %h1 iOS Component
  .example
    = image_tag "full-tooltracker-fluidui.jpg"
    .text
      %p FluidUI prototyping allowed me to create a demonstrable workflow on iOS devices. This crucial step established functionality, coexistence between pages, and preliminary design decisions.
  .example
    = image_tag "ios-tooltracker-screens.jpg"
    .text
      %p iOS interface layouts are minimalistic and functional.

%section#project-web
  %h1 Web Component
  .example
    = image_tag "monitor-right-tooltracker-permissions.jpg"
    .text
      %p Permissions were reduced to checkboxes, offering a straight-forward permissions management area for system administrators.
  .example
    = image_tag "monitor-right-tooltracker-login.jpg"
    .text
      %p Account registration queries Viewpoint, an internal management application. All users must have an active employee ID to register. Integration with LDAP allows single sign on for applicable users, and non LDAP employees are welcomed to create an account.
  .example
    = image_tag "monitor-right-tooltracker-hud.jpg"
    .text
      %p The heads up display (HUD) page was designed to be visible on a large monitor all day, and web sockets allow real-time updates as tools transition between column states.